<li>
    <p class="distribuidora-rif"> J075455525</p>
    <p class="distribuidora-name">DISTRIBUIDORA DE GALLETAS C A </p>
    <p class="distribuidora-client">JOSE GARCES</p>
    <address>CENTRO EMPRESARIAL EL ROSARIO, CALLE ESTE 1 ASENTAMIENTO CAMPESINO LOTE 11-A. GALPONES DEL 1-15 Y 8-14 LA MORITA, MARACAY ESTADO ARAGUA.</address>

    <p class="distribuidora-rif"> J412636626</p>
    <p class="distribuidora-name">DISTRIBUIDORA LA MERIENDA DE ARAGUA C.A</p>
    <p class="distribuidora-client">JOHNNY ALVARADO</p>
    <address>CARRETERA NAC CAGUA VILLA DE CURA COMPLEJO INDUSTRIAL LAS VEGAS GALPON A4</address>


    <p class="distribuidora-rif"> J308831506</p>
    <p class="distribuidora-name">MAVIDECO MARACAY CA </p>
    <p class="distribuidora-client">VICENTE VARELA</p>
    <address>AV. INTERCOMUNAL TURMERO,MARACAY,SECTOR LA PROVIDENCIA PARCELA N.33</address>
</li>
