// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
// $blue: #3490dc;
// $indigo: #6574cd;
// $purple: #9561e2;
// $pink: #f66d9b;
// $red: #e3342f;
// $orange: #f6993f;
// $yellow: #ffed4a;
// $green: #38c172;
// $teal: #4dc0b5;
// $cyan: #6cb2eb;

$colores:(

    azul : rgb(0, 102, 145),
    rojo : rgb(173, 44, 39),
    azul-claro: rgb(187, 225, 234),
    beige: rgb(255, 250, 240),
    marron: rgb(67, 31, 10),
    otro-azul-claro: rgb(118, 177, 181)
);

:root {

    @each $color, $valor in $colores {

        --#{$color}: #{$valor};
    }
}
