// Variables
$primary: #1056d6;
$dark-primary: #2e31a6;
$secondary: #ff931e;
$gray: #e3e4e6;
$dark-gray: #4e5471;

body {
    font-family: 'Roboto';
    font-weight: 300;
    strong {
        font-weight: 700;
    }
}

@import './frontend/layout';
@import './frontend/index';
