@import "~rfs/scss";
@import '~sal.js/dist/sal.css';


// Variables
$primary: #000839;
// $dark-primary: #2e31a6;
$secondary: #d3af48;
$info: #006691;
$danger: #ad2c27;
// $gray: #e3e4e6;
// $dark-gray: #4e5471;

html {
    scroll-behavior: smooth;
}

.first-row {
    padding-top: 15vh;
}

.wrapper-big{

    // @media screen and (min-width:1200px){

        max-width: 1140px;
        margin-right: auto;
        margin-left: auto;
        // margin: auto;
    // }

}

@import 'custom/header';
@import 'custom/home';
@import 'custom/about';
@import 'custom/products';
@import 'custom/gallery';
@import 'custom/contact';
@import 'custom/footer';
