// Variables
$primary: #00013a;
// $dark-primary: #2e31a6;
$secondary: #d0a747;
// $gray: #e3e4e6;
// $dark-gray: #4e5471;

html {
    scroll-behavior: smooth;
}

.first-row {
    padding-top: 15vh;
}

@import 'custom/header';
@import 'custom/home';
