body {
  font-family: "Roboto";
  font-weight: 300;
}

body strong {
  font-weight: 700;
}

header {
  background-color: #fff;
}

header img {
  width: 100%;
  max-width: 200px;
}

footer {
  color: #000;
  font-weight: 300;
  padding: 25px 0;
  font-size: 17px;
}

footer p {
  margin-bottom: 0;
}

footer p a {
  color: #2e31a6;
  font-weight: 500;
}

footer ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer ul li {
  padding: 0 5px;
}

footer ul li img {
  width: 30px;
}

html {
  scroll-behavior: smooth;
}

main {
  background-color: #3c6aea;
  background: linear-gradient(90deg, #3c6aea 0%, #3234a1 100%);
}

main .container-fluid {
  max-width: 1300px;
}

main .container-fluid.index {
  background-image: url(/images/wallpaper-1.png?628fa980dae20738eec6a56e65354381);
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 767px) {
  main .main-image {
    margin-top: 30px;
  }
}

@media screen and (max-width: 575px) {
  main .main-image img {
    max-width: 300px;
  }
}

main .down-icon img {
  max-width: 50px;
}

main h3.send-button {
  background-color: #ff931e;
  padding: 10px 50px;
  border-radius: 50px;
  text-transform: uppercase;
  background: #ff931e;
  transition: all 0.3s ease;
}

main h3.send-button a {
  color: #fff;
  text-decoration: none;
}

main h3.send-button:hover {
  transform: scale(1.05);
}

main .card {
  border-radius: 20px;
  bottom: 50px;
  margin-bottom: 20px;
}

@media screen and (max-width: 757px) {
  main .card {
    bottom: 0;
  }
}

main .promise-value .fixed-button {
  display: none;
}

@media screen and (max-width: 575px) {
  main .promise-value .fixed-button {
    display: flex;
  }
}

main .promise-value .down-icon {
  display: none;
}

@media screen and (max-width: 575px) {
  main .promise-value .down-icon {
    display: flex;
  }
}

main .promise-value p.promise-text {
  font-size: 21px;
  margin: 30px 0;
  color: #fff;
  text-align: center;
  padding: 0 20px;
  line-height: 1.3;
}

main .promise-value ul {
  list-style: none;
  padding-left: 0;
}

main .promise-value ul li {
  margin: 18px 0;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
}

@media screen and (max-width: 575px) {
  main .promise-value ul li {
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
}

main .promise-value ul li p {
  font-size: 18px;
  margin-bottom: 0;
  margin-left: 12px;
}

@media screen and (max-width: 575px) {
  main .promise-value ul li p {
    font-size: 28px;
    text-align: center;
  }
}

main .promise-value ul li img {
  width: 100%;
  max-width: 35px;
}

@media screen and (max-width: 575px) {
  main .promise-value ul li img {
    max-width: 210px;
  }
}

main .promise-value ul li .down-icon {
  display: none;
  position: absolute;
  bottom: 10px;
}

main .promise-value ul li .down-icon img {
  max-width: 50px;
}

@media screen and (max-width: 575px) {
  main .promise-value ul li .down-icon {
    display: flex;
  }
}

main .form {
  position: relative;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 575px) {
  main .form {
    padding: 0;
  }
}

main .form .card {
  max-width: 420px;
}

@media screen and (max-width: 575px) {
  main .form .card {
    max-width: 500px;
    width: 100%;
    border-radius: 0;
  }
}

main .form .form-title h2 {
  color: #2e31a6;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 0;
}

main .form .form-title img {
  max-width: 100px;
}

main .form .form-title p {
  font-weight: 700;
  max-width: 200px;
  text-align: center;
  line-height: 1.2;
}

main .form .form-title h3 {
  color: #ff931e;
  font-weight: 700;
  margin-bottom: 18px;
}

main .form form input {
  background-color: #e3e4e6;
  border-radius: 25px;
  color: #4e5471;
}

main .form form input:focus {
  background-color: #e3e4e6;
  border: none;
  outline: none;
  box-shadow: none;
  box-shadow: 0px 0px 3px 2px #4e5471;
}

main .form form h3#send-button {
  background-color: #ff931e;
  padding: 10px 50px;
  border-radius: 50px;
  text-transform: uppercase;
  background: #ff931e;
  transition: all 0.3s ease;
}

main .form form h3#send-button a {
  color: #fff;
  text-decoration: none;
}

main .form form h3#send-button:hover {
  transform: scale(1.05);
}

main .form form p {
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 500;
}

main .form form p a {
  color: #2e31a6;
  text-decoration: none;
}

main.message > .container {
  background-position: center;
  background-size: cover;
}

main.message > .container.success {
  background-image: url(/images/wallpaper-2.png?64d3ea9a637c164cc0a38a6278626644);
}

main.message > .container.failure {
  background-image: url(/images/wallpaper-3.png?e7959963459d55c15e44eb59fdfebc27);
}

@media screen and (max-width: 767px) {
  main.message > .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

main.message .text {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main.message .text h3 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
}

main.message .text p {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
}

main.message .text p.small {
  font-size: 20px;
  font-weight: 500;
  margin-top: 34px;
}

