.about {


    &__timeline{
        background-color: var(--rojo);
        background-image: url('../img/bg-puntos-blancos.png');
        position: relative;

        &:before{

            content: "";
            display: block;
            position: absolute;
            background: var(--beige);
            height: 100px;
            border: red;
            width: 51%;
            z-index: 5;
            left: 50%;
            top: 0;
            transform: translateX(-50%);

            @media screen and (max-width:992px) {
                width: 100%;
            }
        }

        &--main-column {
            margin-top: -6em;
            background-color: var(--beige);
            position:relative;
            z-index: 10;

            @media screen and (min-width:992px) {
                padding: 6em 8em!important;

            }

            @media screen and (max-width:992px) {
                padding-top: 2.25em;
            }

            &::after,&::before{
                content: "";
                display:block;
                width: 9px;
                height: 100%;
                background-repeat: repeat-y;
                position: absolute;
                top: 0;

                @media screen and (max-width:768px) {
                    display: none;
                }

            }

            &::before{
                left: -9px;
                background-image: url('../img/border-amarillo.svg');
            }

            &::after{
                right: -9px;
                background-image: url('../img/border-amarillo-2.svg');

            }
        }
    }

    &__info {
        // background-color: var(--azul);
        font-family: 'Spartan', sans-serif;

        .h2 {
            font-weight: bold;
        }

        @media screen and (max-width:992px) {

            &-mision, &-valores, &-vision {

                padding: 1.25em;

                p:not(.h2){

                    text-align: left;
                }

                .h2{

                    text-align: center;
                }

            }

        }


        &-mision, &-valores {
            // background-size: cover,36%;
            // background-size: contain;
            background-size: cover,40% ;

            background-repeat: no-repeat;
            color: var(--primary);
            // background-image: linear-gradient(90deg, var(--azul-claro) 0%, var(--azul-claro) 85%, rgba(255,255,255,0) 100%), var(--image);
            background-position: right;

            @media screen and (min-width:992px) {
                padding: 45px 0 45px 45px;

            }
        }

        &-vision {
            background-size: cover,36%;
            background-repeat: no-repeat;
            color:white;
            background-image: linear-gradient(var(--rojo) 100%, var(--rojo) 100%), url('../img/vision.png');

            background-position: left;
            justify-content: flex-end;

            @media screen and (min-width:992px) {

                background-image: linear-gradient(90deg, rgba(255,255,255,0) 0%, var(--rojo) 35%, var(--rojo) 100%), url('../img/vision.png');
                padding: 45px 0 45px 0;
                // padding-right: 15%;

                // p {
                //     tex
                // }

            }

            p{
                text-align: right;
            }
        }

        &-mision {

            --image: url('../img/mision.png');
            background-image: linear-gradient(90deg, var(--gris) 0%, var(--gris) 100%, rgba(255, 255, 255, 0) 100%), var(--image);

            @media screen and (min-width:992px) {
                padding-left: 15%;
                background-image: linear-gradient(90deg, var(--gris) 0%, var(--gris) 60%, rgba(255, 255, 255, 0) 100%), var(--image);

            }
        }
        &-valores {
            --image: url('../img/valores.png');
            background-image: linear-gradient(90deg, var(--gris) 0%, var(--gris) 100%, rgba(255, 255, 255, 0) 100%), var(--image);

            @media screen and (min-width:992px) {

                background-image: linear-gradient(90deg, var(--gris) 0%, var(--gris) 62%, rgba(255, 255, 255, 0) 100%), var(--image);

            }

            ul {
                padding: 0;

                li {

                    span {
                        font-weight: bold;
                    }
                }
            }

            & > div {
                margin-bottom: 2em;
            }
        }

    }
}
