.form-wrapper{
    margin-bottom: -6em;
    background-color: var(--azul-claro);
    padding-top: 10em;

    & > div {
        order: 1;
    }

    @media screen and (min-width:1500px) {
        margin-bottom: -9em;

        &::after {
            height: 27em;
        }

        &::before {

            height: 14em;
            bottom: -28em;
        }
    }



    &::after {
        content: "";
        mask: url('../img/forma-azul-clara-bottom.svg');
        mask-repeat: no-repeat;
        mask-size: cover;
        width: 100%;
        background-color: var(--azul-claro);
        order: 3;
        z-index: 10;

        @media screen and (max-width:1499px){
            height: 12em;

        }


    }

    &::before {
        content: "";
        mask: url('../img/linea-azul-textura.svg');
        mask-repeat: no-repeat;
        mask-size: cover;
        width: 100%;
        background: var(--primary);
        order: 2;
        z-index: 15;
        position: relative;

        @media screen and (max-width:1499px){
            height: 7em;
            bottom: -13em;

        }
    }


}

.form-container {
    color: var(--primary);
    font-family: 'Spartan', sans-serif;
    margin-bottom: -5em;



    .social-media {

        display: flex;
        justify-content: space-evenly;

        a{

            color: var(--azul-claro);
            background: var(--primary);
            font-size: 2em;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            padding: 10px;
            margin-right: 5px;
        }

        svg {
        }
    }

    @media screen and (min-width:576px) {
        padding-left: 90px;
        padding-right: 90px;

    }




    &__form {

        form {
            display: flex;
            flex-direction: column;
        }

        input,textarea {
            background-color: var(--otro-azul-claro);
            border: none;
            font-weight: bold;
            color: var(--primary)
        }

        input::placeholder, textarea::placeholder {
            color: var(--primary)
        }

        textarea {
            height: 120px;
            max-height: 120px;
        }

        button {
            background-color: var(--azul);
            color: white;
            align-self: flex-end;
            border: 1px solid var(--azul);
            font-weight: bold;
            padding: 5px 30px;
        }
    }


}



.mapa-container {

    padding-top: 15vh;
    padding-bottom: 4em;
    background-color: var(--beige);
    background-image: url('../img/bg-puntos-blancos-2.png');

    @media screen and (min-width:576px) {

        padding-left: 90px;
        padding-right: 90px;

    }

    @media screen and (max-width:992px) {

        padding-bottom: 23vh;

        .accordion {
            margin-bottom: 3.5em;
        }
    }


    .accordion {

        .card {
            background-color: transparent;
            border-radius: 0;
            border: none;
            font-family: 'Spartan', sans-serif;


            &-header {
                background-color: transparent;
                border-bottom: 1px solid black;
                padding-left: 0;
                margin-bottom: 0!important;
                text-transform: uppercase;

                h2 {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 20px;

                    &::after{

                        content: "";
                        right: 0;
                        width: 50px;
                        background-color: var(--secondary);
                        height: 15px;
                        border-radius: 15px;
                        background-image: url('../img/dropdown.svg');
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        position: absolute;
                        right: 5%;
                        pointer-events: none;

                    }

                }

                &.active-state {

                    h2 {
                        &::after {
                            background-color: var(--azul);
                        }
                    }


                    position:relative;
                    button {

                        font-weight: 700;
                    }


                }

                button {
                    padding-left: 0;
                    font-weight: 400;
                    width: 100%;
                    text-align: left;

                    &:hover,&.focus,&:focus {

                        text-decoration: none;
                    }
                }
            }

            &-body {
                padding-left: 0;
            }

            ul {
                list-style: none;
                padding-left: 0;

                li {
                    font-weight: 400;
                    font-size: 13px;
                    margin-bottom: 3em;
                    p{
                        margin-bottom: 0.25em;
                    }
                    .distribuidor {

                        &-name {
                            font-weight: 700;
                            font-size: 1.25em;
                        }
                    }
                }
            }
        }
    }


    .h1 {
        font-weight: 700;
        color: var(--secondary);
        small {

            color: var(--primary)
        }
    }
}
#mapa-container {

    background-color: var(--azul-claro);
    padding: 3em;
    border-radius: 25px;
    position: relative;
    align-self: flex-start;
    position: relative;

    @media screen and (min-width:992px) {
        position: sticky;
        top: 2em;
    }

    #marker-fa {
        position: absolute;
        // left: 50%;
        // top: 50%;
        // transform: translate(-50%,-50%);
        display: block;
        height: 50px;
        width: 50px;
    }


    svg {
        g {

            path {
                transition: fill 0.3s ease-in-out;
                fill: var(--azul)
            }

            &.active-state {
                filter: drop-shadow(-7px 11px 4px black);
                animation: shadow 0.5s forwards ease-in-out;

                path {
                    fill: var(--secondary)
                }



            }
        }


    }

    ul {
        list-style: none;
        position: absolute;
        bottom: 20%;
        left: 0;

        @media screen and (max-width:992px){
            left: -9%;
        }


        li {
            font-family: 'Spartan', sans-serif;
            font-weight: bold;

            &::before {
                content: "";
                border-radius: 50%;
                width: 10px;
                height: 10px;
                display: inline-block;
                margin-right: 8px;

            }

            &:first-of-type{

                // &::before {
                //     background-color: var(--primary);
                // }
                &::before {
                    background-color: var(--secondary);
                }

            }

            // &:nth-child(2) {

            // }

            &:last-of-type{

                &::before {
                    background-color: var(--azul);
                }

            }
        }
    }
}


@keyframes shadow {
    0% {
        filter: drop-shadow(-7px 11px 4px black);

    }
    100% {
        filter: drop-shadow(-15px 11px 4px black);

    }
  }
