.carousel-gallery {

    height: 100vh;
}

.slogan-container {

    overflow: hidden;
    background-color: var(--azul);
    position: relative;


    &::before,&::after {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        // background-size: contain;
        display: block;
        height: 100%;
        width: 100%;

        @media screen and (max-width: 992px) {
            display: none;
        }
    }

    &::before {

        bottom: -1em;
        background-image: url('../img/arbol.png');
    }

    &::after {


        background-image: url('../img/milk.png');
        right: -77%;
        height: 78%;
        background-size: contain;
        z-index: 5;
    }



    .slogan__main {

        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        font-family: 'Spartan', sans-serif;
        padding: 0;
        p{
            font-weight: bold;

        }
    }
    .h1 {

        // font-weight: bold;
        color: var(--primary);
        position: relative;
        z-index: 5;
        font-size: 4em;
        text-align: center;
        margin-top: 3%;
        margin-bottom: 1em;

        span {
            display: block;
            margin-top: 13px;
            position: relative;
            z-index: 5;

            &::before {
                content: "";
                position: absolute;
                right: 21%;
                top: -25%;
                font-size: 1.25em;
                background: var(--secondary);
                width: 50px;
                height: 15px;
                z-index: -1;
                display: block;
            }
        }

        &:after{

            content: "";
            clip-path: circle(50% at 50% 0);
            position: absolute;
            background-color: var(--secondary);
            display: block;
            width: 19em;
            height: 100vh;
            left: 50%;
            transform: translateX(-50%);
            top: -4.5em;
            z-index: -1;
        }

        &::before {
            content: "";
            display: block;
            width: 100%;
            background: var(--azul);
            height: 5px;
            position: absolute;
            top: 44%;
            z-index: 5;
            border-radius: 15px;
        }
    }

    .h2 {

        text-align: center;
        color: white;
        span {
            display: block;
        }
    }

    .btn {
        border-radius: 18px;
        padding: 4px 30px;
        margin-bottom: 5%;
    }

    img.galletas {
        width: 100%;
        position: relative;
        z-index: 10;
    }

    img.animalito {
        --posX: 0%;
        position: absolute;
        bottom: 28%;
        left: 5em;
        width: 180px;
        transform: translateX(var(--posX));
        transition: transform 0.3s ease;
    }
}
