header {
    --triangle-position: -1%;
    --right-side: calc(var(--triangle-position) + 1%);
    --left-side: calc(var(--triangle-position) - 1%);
    margin-bottom: 15vh;
    position: relative;

        nav {
            ul {

                align-items: flex-start;
                height: 40px;
                li {
                    margin-right: 5%;
                    a{

                        color: white;

                        &:hover {
                            color: var(--secondary)
                        }
                    }

                    &.logo {

                        width: 200px;
                        height: 150px;
                        background: var(--primary);
                        border-radius: 50%;
                        position: relative;
                        bottom: 7vh;
                        display: flex;
                        justify-content: center;
                        position: relative;
                        z-index: 10;

                        img {
                            width: 90%;
                            height: 75%;
                            object-fit: contain;
                            align-self: end;

                        }
                    }

                    &.form {
                        height: 100%;
                        width: 130px;

                        form {
                            height: 100%;
                            width: 100%;

                            input.form-control[type="search"] {
                                background: var(--primary);
                                border: 1px solid var(--secondary);
                                color: white;
                                border-radius: 2em;
                                height: 30px;
                                display: block;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

    &:after {



        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -18%;
        height: 10px;
        background-color: var(--primary);
        width: 100%;
        z-index: 5;
        clip-path:  polygon(100% 0%, 100% 100%, var(--right-side) 100%, var(--triangle-position) 0, var(--left-side) 100%, 0% 100%, 0% 0%);

    }

    // &:before {
    //     content: "";
    //     z-index: 10;
    //     position: relative;
    // }
}

