.hero-container {

    text-align: center;
    background-color: var(--azul);
    overflow: hidden;

    &__main {
        padding-bottom: 45vh;

        h1 {
            position: relative;
            color: var(--rojo);
            z-index: 10;
            font-size: 4.5em;
            font-weight: bolder;
            font-family: 'Spartan', sans-serif;
            margin-top: -6vh;
            margin-bottom: 4vh;

            span {

                display: block;
                color: var(--secondary);
                font-size: 2.5rem;
            }

            &::before {
                content: "";
                background-color: white;
                -webkit-clip-path: circle(50% at 50% 0);
                clip-path: circle(50% at 50% 0);
                display: block;
                position: absolute;
                width: 19em;
                height: 100vh;
                z-index: 5;
                top: -5em;
                z-index: -1;
                left: 50%;
                transform: translateX(-50%);

            }
        }

        img {
            display: block;
            margin: auto;
            height: 35vh;
            width: 70vw;
            margin-bottom: 1em;
        }

        button {
            background-color: #d9d9d9;
            font-family: 'Spartan', sans-serif;
            color: var(--primary);
            border: 1px solid #d9d9d9;
            border-radius: 2em;
            font-weight: bold;
            font-size: 1.25em;

        }
    }

}

.cards-wrapper {
    padding-bottom: 22vh;
    background-color: white;
    position: relative;
    z-index: 10;

    .cards-container {

        position: absolute;
        width: 100%;
        bottom: -6em;

        &__card {
            height: 75vh;
            display:flex;
            flex-direction: column;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding: 0 !important;
            background-image: url('../img/fabrica.jpg');

            p {
                // height: 25%;
                flex-grow: 0.25;
                font-size: 2.5em;
                margin-bottom: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                transition: flex-grow 0.3s ease-in;

                &::after {
                    position: absolute;
                    content: "";
                    width: 50px;
                    height: 34px;

                }

                &:hover {
                    flex-grow: 0.75;
                }
            }

            &:nth-child(odd) {
                justify-content: flex-end;

                p {
                    // order.
                    background-color: var(--primary);
                    color: white;

                    &::after{
                        background-color: var(--primary);
                        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                        top: -33px;
                        left: 0;
                    }


                }
            }

            &:nth-child(even) {
                p{

                    background-color: var(--secondary);
                    color: black;

                    &::after{

                        background-color: var(--secondary);
                        clip-path: polygon(50% 100%, 0 0, 100% 0);
                        right: 0;
                        bottom: -34px;
                    }
                }
            }

            &:first-of-type{
                border-radius: 35px 0 0 35px;
                // background-image: url('../img/fabrica.jpg');
                p {
                    border-radius: 0 0 0 35px;
                }

            }

            &:last-of-type {
                border-radius: 0 35px 35px 0;

                p {
                    border-radius: 0 35px 0 0;
                }
            }
        }
    }
}

.us-container {

    background-color: var(--azul-claro);
    padding-top: 10em;

    &__text {

        padding-top: 8em;

        .display-3 {
            font-weight: bold;
            color: var(--primary);
        }

        .btn {
            border-radius: 18px;
            padding: 3px 45px;
        }
    }


    img {
        position: relative;
        left: 37px;
        top: -16%;
        z-index: 5;
    }
}
