@import "~rfs/scss";

.hero-container {

    text-align: center;
    background-color: var(--azul);
    overflow: hidden;
    background-image: url('../img/bg-puntos-blancos.png');

    &__main {

        @include padding-bottom(5em);
        // padding-bottom: ;
        @media screen and (min-width:992px) {
            padding-bottom: 45vh;

        }


        h1 {
            position: relative;
            color: var(--rojo);
            z-index: 10;
            // font-size: 4.5em;
            @include font-size(4rem);

            font-weight: bolder;
            font-family: 'Spartan', sans-serif;
            margin-top: -6vh;
            margin-bottom: 4vh;

            span {

                display: block;
                color: var(--secondary);
                font-size: 2.5rem;
            }

            &::before {
                content: "";
                background-color: white;
                clip-path: circle(50% at 50% 0);
                display: block;
                position: absolute;
                width: 19em;
                height: 100vh;
                top: -5em;
                z-index: -1;
                left: 50%;
                transform: translateX(-50%);

            }
        }

        .carousel-wrapper {
            display: block;
            margin: auto;
            // height: calc(1.525rem + 3.3vw);
            // width: 60em;
            height: 10em;
            margin-top: -2em;
            /* width: 100%; */
            margin-bottom: 4em;
            position: relative;
            z-index: 10;


            @media screen and (min-width: 768px) {
                height: 25em;
                margin-top: -9em;

                img {
                    object-fit: contain;
                }

            }

            @media screen and  (min-width:535px) and (max-width:767px)  {
                height: 20em;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

            }

            img {
                // object-fit: contain;
                // filter: blur(15px);
                opacity:0;
                transition: opacity ease-out .3s,filter ease-out .2s .15s;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);

            }

            // &.position-absolute {

            //     top: 20vh;
            //     left: 18vw;
            // }
        }

        .btn.btn-secondary {
            background-color: #d9d9d9;
            font-family: 'Spartan', sans-serif;
            color: var(--primary);
            border: 1px solid #d9d9d9;
            border-radius: 2em;
            font-weight: bold;
            font-size: 1.25em;

        }
    }

}

.cards-wrapper {

    @media screen and (min-width:992px) {
        padding-bottom: 22vh;

    }
    background-color: white;
    position: relative;
    z-index: 10;
    background-image: url('../img/bg-puntos-azules.png');


    .cards-container {

        width: 100%;
        // background-image: url('../img/bg-puntos-rojos.png');

        @media screen and (min-width:992px) {

            bottom: -6em;
            position: absolute;
        }

        @media screen and (max-width:992px) {
            height: 500px;
            margin: 0;

            &__card {
                height: 50%;


            }
        }

        &__card {

            box-shadow: 13px 13px 50px 0px black;

            @media screen and (min-width:992px) {
                height: 75vh;

            }

            display:flex;
            flex-direction: column;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding: 0 !important;
            overflow: hidden;

            &:hover {
                text-decoration: none;
                img {
                    transform: scale(1.5);
                }

                p{
                    flex-grow: 0.15;
                }
            }

            // background-image: url('../img/NOSOTROS.png');

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                transition: transform 0.3s ease-in-out;
            }

            p {
                // height: 25%;
                font-family: 'Spartan', sans-serif;
                font-weight: 700;
                flex-grow: 0.25;
                // font-size: 2.5em;
                @include font-size(1.5em);
                margin-bottom: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                transition: flex-grow 0.3s ease-in;

                &::after {
                    position: absolute;
                    content: "";
                    width: 50px;
                    height: 34px;

                }

                &::before {

                    content: "";
                    background-size: contain;
                    background-repeat: no-repeat;
                    height: 3em;
                    width: 1em;
                    position: absolute;
                }

                &:hover {
                    // flex-grow: 0.75;
                }
            }

            &:nth-child(odd) {
                justify-content: flex-end;
                background-color: var(--primary);

                p {
                    // order.
                    background-color: var(--primary);
                    color: white;

                    &::after{
                        background-color: var(--primary);
                        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                        top: -33px;
                        left: 0;
                    }

                    &::before {
                        top: -80%;
                        left: 0.99em;

                        @media screen and (max-width: 992px) {
                            top: -130%;

                        }
                    }



                }
            }

            &:nth-child(even) {
                background-color: var(--secondary);

                p{

                    background-color: var(--secondary);
                    color: var(--primary);

                    &::after{

                        background-color: var(--secondary);
                        clip-path: polygon(50% 100%, 0 0, 100% 0);
                        right: 0;
                        bottom: -32px;
                    }

                    &:before {

                        top: 135%;
                        right: 0.4em;

                        @media screen and (max-width: 992px) {
                            top: 150%;

                        }


                    }
                }
            }

            &:first-of-type{
                img{
                    // border-radius: 35px 0 0 35px;

                }

                // background-position: bottom left;
                // background-image: url('../img/fabrica.jpg');
                // background-image: url('../img/fabroca.png');

                p {
                    border-radius: 0 0 0 35px;

                    &::before {
                        background-image: url('../img/puntos_1.png');
                    }
                }

                @media screen and (min-width:992px) {
                    border-radius: 35px 0 0 35px;

                }

                @media screen and (max-width:992px) {

                    // border-radius: 35px 0 0 0;

                    p {
                        border-radius: 0;
                    }

                }

            }

            &:nth-child(2) {

                @media screen and (max-width:992px) {

                    // border-radius: 0 35px 0 0;

                }

                p {
                    &:before {

                        background-image: url('../img/puntos_2.png')
                    }
                }
                // background-position:  -2px -70px;
                // background-image: url('../img/productos.png');
            }

            &:nth-child(3) {
                img {
                    bottom: 20%;
                }

                @media screen and (max-width:992px) {

                    // border-radius:  0 0 0 35px;


                }

                p {
                    &::before {
                        background-image: url('../img/puntos_3.png');
                    }
                }
                // background-image: url('../img/galeria.png');
            }

            &:last-of-type {



                p {
                    &::before {

                        background-image: url('../img/puntos_4.png');

                    }
                }

                @media screen and (min-width:992px) {
                        border-radius: 0 35px 35px 0;


                }
            }
        }
    }
}

.us-container {

    background-color: var(--azul-claro);
    background-image: url('../img/bg-puntos-azules.png');
    font-family: 'Spartan', sans-serif;
    padding-top: 4em;
    padding-bottom: 4em;
    overflow: hidden;

    @media screen and (min-width:992px) {

        padding-top: 10em;

        min-height: 820px;

        &__text {

            padding-top: 8em;
            padding-left: 10em!important;

        }

    }


    &__text {

        // @include padding-top(8em);

        .display-3 {
            font-weight: bold;
            color: var(--primary);
        }

        .btn {
            border-radius: 18px;
            padding: 3px 45px;

            @media screen and (max-width:992px){
                display: block;
                margin: auto;
            }
        }

        p:not(.display-3) {
            @include font-size(1.2em);
        }
    }


    img {
        position: absolute;
        right: 0;
        top: -16%;
        z-index: 5;

        // @media screen and (max-width:992px) {

        //     display: none;

        // }
    }
}
